
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/



# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
Log/
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
/DB/ActiFinder.DB/ActiFinder.DB.jfm
/DB/ActiFinder.DB/ActiFinder.DB.dbmdl
DB/ActiFinder.DB/ActiFinder.DB.dbmdl
DB/AcitFinder.DB/AcitFinder.DB.jfm
*.dbmdl
*.zip
!/Service/ActiFinder.Service.SystemEvent.WS/ffprobe.exe
!/Service/ActiFinder.Service.SystemEvent.WS/ffmpeg.exe

*.jfm
